<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  
  <div id="register-content" class="w3-display-middle">
      <form>
        <div class="register-title">
          <mat-icon>person</mat-icon>
          <h2>Register</h2>
        </div><br>
        <label for="username">USERNAME</label><br>
        <input type="text" id="username" placeholder="username" min="3" required><br>
        <label for="password">PASSWORD</label><br>
        <input type="password" id="password" placeholder="password" min="3" required><br>
        <div class="footer-register">
          <button id="registerButton">Register</button>
          <a routerLink="/login" class="backToLogin">Back to login</a>
        </div>
      </form>
  </div>